.wrapper {
  overflow: auto;
  border-radius: 6px;
}

table {
  font-size: 3vw;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
  margin: auto;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table th,
table td {
  padding: 12px 5px;
}

table thead tr {
  background-color: #009879;
  color: #ffffff;
}

table tbody tr {
  border-bottom: thin solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

table tbody tr.user-row {
  font-weight: bold;
  color: #009879;
}
