.wrapper {
  overflow: auto;
  border-radius: 6px;
}

table {
  font-size: 3vw;
  text-align: center;
  border-collapse: collapse;
  border-style: hidden;
  margin: auto;
  width: 100%;
  max-width: 100%;
}

table tbody tr {
  border-bottom: thin solid #dddddd;
}

.summary {
  border-spacing: 0;
  border: 2px solid #009879;
}

.summary th,
.summary td {
  padding: 12px 10px;
}

.summary thead tr {
  background-color: #009879;
  color: #ffffff;
}

.summary tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.summary tbody tr.user-row {
  font-weight: bold;
  color: #009879;
}

.match-result {
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: thin solid #dddddd;
}

.match-result thead tr {
  background-color: #dddddd;
}

.match-result th,
.match-result td {
  padding: 9px 0;
}

.match-result tr.double {
  background-color: #f3f3f3;
}

.live {
  color: #dc143c;
}