body {
  font-family: sans-serif;
  background-color: #ffffff;
  color: #222222;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: #2678b6;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 94vw;
  margin: auto;
  text-align: center;
}

li {
  color: #a8a8a8;
}

.hint {
  font-size: .8em;
  color: #a8a8a8;
}

.ok {
  color: green;
}

.err {
  color: red;
}
